doctype html
html
    head
        title="checkMyToken"
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    body
        div.container
            nav
                div.nav-wrapper.indigo.darken-1
                    a.center.brand-logo checkMyToken
            div.center-align(style= 'margin-top: 15%')
                div
                    i.large.red-text.material-icons warning
                div
                    h3 Error occured while performing the action
                    h4 Make sure the URL is correct